:root {
    --primary: #17252A;
    --secondary: #3AAFA9;
    --navbg: #2B7A78;
    --navtxt: #DEF2FA;
    --red: #90181e;
  }
body {
    background: var(--primary)
}
.app-sidebar__container {
    background: var(--navbg);
}
.app-sidebar__footer a, a {
    color: var(--navtxt) !important;
}
.app-content a {
    color: var(--secondary) !important;
}
.hexagon{
    background: var(--primary) !important;
}
.router-link-exact-active {
    background: var(--secondary);
}
.technology-bar div:nth-child(1) {
    background: var(--secondary) !important;

}
.technology-bar div:nth-child(2) {
    background: var(--navbg) !important;
}
.page-hero__overlay {
    /* background: rgba(23, 37, 42, 0.65); */
    background: var(--primary);
    opacity: 0.8;
}
.loader {
    margin: 0px;
    border-color: var(--navtxt);
    /* opacity: 0.5; */
    border-top-color: var(--secondary);
}
.loader + p {
    margin: 0 0 0 10px;
    color: var(--navbg);
}
.vm--overlay {
    background-color: rgb(255 255 255 / 87%) !important;
}